# Data Wrangling

## Imports

In [11]:
import pandas as pd
from pathlib import Path
import numpy as np
from sklearn.impute import KNNImputer
from matplotlib import pyplot as plt
import seaborn as sns
from zipfile import ZipFile

## ZIP Import

In [12]:
source_df = pd.read_csv(ZipFile('data/original/immoscout_v2.zip').open("immo_data_202208_v2.csv"), sep=',', index_col = 0)
clean_df = source_df.copy()

/var/folders/s5/5_td5ht10mg1fpxdl2s52d040000gn/T/ipykernel_4468/3026670305.py:1: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,49,50,107,110,114,115,116,119,120,121,124,125,126,128,131,132) have mixed types. Specify dtype option on import or set low_memory=False.
  source_df = pd.read_csv(ZipFile('data/original/immoscout_v2.zip').open("immo_data_202208_v2.csv"), sep=',', index_col = 0)

### Delete Unnamed Columns

In [13]:
clean_df = clean_df.loc[:, ~clean_df.columns.str.contains('^Unnamed')]
clean_df.head()

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,features,description_detailed,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN
3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN

### There are Column which we can merge

In [14]:
clean_df['Municipality']    = clean_df['Municipality'].fillna(clean_df['detail_responsive#municipality'])
clean_df['Municipality']    = clean_df['Municipality'].fillna(clean_df['Gemeinde'])
clean_df['Municipality']    = clean_df['Municipality'].fillna(clean_df['Commune'])
clean_df['Municipality']    = clean_df['Municipality'].fillna(clean_df['Comune'])
clean_df['Municipality']    = clean_df['Municipality'].fillna(clean_df['Municipality_merged'])

clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['detail_responsive#surface_living'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Wohnfläche'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Surface habitable'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Superficie abitabile'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Living_space_merged'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Living_area_unified'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Space extracted'])
clean_df['Living space']    = clean_df['Living space'].fillna(clean_df['Surface living:'])

clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['detail_responsive#surface_property'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Grundstücksfläche'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Surface du terrain'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Superficie del terreno'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Plot_area_merged'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Plot_area_unified'])
clean_df['Plot area']       = clean_df['Plot area'].fillna(clean_df['Land area:'])

clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['detail_responsive#surface_usable'])
clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['Nutzfläche'])
clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['Surface utile'])
clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['Superficie utile'])
clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['Floor_space_merged'])
clean_df['Floor space']     = clean_df['Floor space'].fillna(clean_df['Floor space:'])

clean_df['Floor']           = clean_df['Floor'].fillna(clean_df['detail_responsive#floor'])
clean_df['Floor']           = clean_df['Floor'].fillna(clean_df['Stockwerk'])
clean_df['Floor']           = clean_df['Floor'].fillna(clean_df['Étage'])
clean_df['Floor']           = clean_df['Floor'].fillna(clean_df['Piano'])
clean_df['Floor']           = clean_df['Floor'].fillna(clean_df['Floor_merged'])

clean_df['Availability']  = clean_df['Availability'].fillna(clean_df['detail_responsive#available_from'])
clean_df['Availability']  = clean_df['Availability'].fillna(clean_df['Verfügbarkeit'])
clean_df['Availability']  = clean_df['Availability'].fillna(clean_df['Disponibilité'])
clean_df['Availability']  = clean_df['Availability'].fillna(clean_df['Disponibilità'])
clean_df['Availability']  = clean_df['Availability'].fillna(clean_df['Availability_merged'])

clean_df = clean_df.drop(['detail_responsive#municipality', 'Gemeinde', 'Commune', 'Comune', 'Municipality_merged',
                            'detail_responsive#surface_living', 'Wohnfläche', 'Surface habitable', 'Superficie abitabile', 'Living_space_merged', 'Living_area_unified', 'Space extracted', 'Surface living:',
                            'detail_responsive#surface_property', 'Grundstücksfläche', 'Surface du terrain', 'Superficie del terreno', 'Plot_area_merged', 'Plot_area_unified', 'Land area:',
                            'detail_responsive#surface_usable', 'Nutzfläche', 'Surface utile', 'Superficie utile', 'Floor_space_merged', 'Floor space:',
                            'detail_responsive#floor', 'Stockwerk', 'Étage', 'Piano', 'Floor_merged',
                            'detail_responsive#available_from', 'Verfügbarkeit', 'Disponibilité', 'Disponibilità', 'Availability_merged'], axis=1)

clean_df.head()

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,Year built:,features,description_detailed,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
2,Küttigen,93 m²,NaN,NaN,Immediately,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN
3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN

### Take Informations from Column "details", and put the Informations into "rooms" and "Living space" if they are nan or 0

In [15]:
clean_df['rooms_from_details'] = (clean_df['details'].str.extract(r'(\d+) rooms')).astype(float)
clean_df['space_from_details'] = (clean_df['details'].str.extract(r'(\d+) m²')).astype(float)

clean_df['rooms'] = clean_df['rooms'].mask(clean_df['rooms'] == 0.0, clean_df['rooms_from_details'])
clean_df['rooms'] = clean_df['rooms'].fillna(clean_df['rooms_from_details'])

clean_df['Living space'] = clean_df['Living space'].fillna(clean_df['space_from_details'])

clean_df = clean_df.drop(['details', 'rooms_from_details', 'space_from_details'], axis=1)

clean_df.head()

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,Year built:,features,description_detailed,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
2,Küttigen,93 m²,NaN,NaN,Immediately,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN
3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN

### Remove m² from Columns

In [16]:
clean_df['Living space'] = clean_df['Living space'].astype(str)
clean_df['Living space'] = clean_df['Living space'].str.replace('m²', '')
clean_df['Living space'] = clean_df['Living space'].str.replace('m2', '')
clean_df['Living space'] = clean_df['Living space'].astype(float)

clean_df['Plot area'] = clean_df['Plot area'].astype(str)
clean_df['Plot area'] = clean_df['Plot area'].str.replace('m²', '')
clean_df['Plot area'] = clean_df['Plot area'].str.replace(',', '')
clean_df['Plot area'] = clean_df['Plot area'].astype(float)

clean_df['Floor space'] = clean_df['Floor space'].astype(str)
clean_df['Floor space'] = clean_df['Floor space'].str.replace('m²', '')
clean_df['Floor space'] = clean_df['Floor space'].str.replace('m2', '')
clean_df['Floor space'] = clean_df['Floor space'].astype(float)

clean_df['Floor'] = clean_df['Floor'].astype(str)
clean_df['Floor'] = clean_df['Floor'].str.replace('Ground floor', '0')
clean_df['Floor'] = clean_df['Floor'].str.replace('GF', '0')
clean_df['Floor'] = clean_df['Floor'].str.replace('. floor', '')
clean_df['Floor'] = clean_df['Floor'].str.replace(r'(\d+)\. Basement', lambda x: str(int(x.group(1)) * -1))
clean_df['Floor'] = clean_df['Floor'].astype(float)

clean_df['rooms'] = clean_df['rooms'].astype(str)
clean_df['rooms'] = clean_df['rooms'].str.replace('rm', '')
clean_df['rooms'] = clean_df['rooms'].astype(float)

clean_df.head()

/var/folders/s5/5_td5ht10mg1fpxdl2s52d040000gn/T/ipykernel_4468/1203264085.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_df['Floor'] = clean_df['Floor'].str.replace('. floor', '')
/var/folders/s5/5_td5ht10mg1fpxdl2s52d040000gn/T/ipykernel_4468/1203264085.py:20: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_df['Floor'] = clean_df['Floor'].str.replace(r'(\d+)\. Basement', lambda x: str(int(x.group(1)) * -1))

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,Year built:,features,description_detailed,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
0,Biberstein,100.0,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
1,Biberstein,156.0,222.0,242.0,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
2,Küttigen,93.0,NaN,NaN,Immediately,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN
3,Biberstein,154.0,370.0,257.0,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
4,Küttigen,142.0,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN

### How many NAN's has each column

In [17]:
(clean_df.isnull().sum() / len(clean_df)) * 100

Municipality             1.023086
Living space             2.668920
Plot area               63.480272
Floor space             74.609670
Availability            40.594280
                          ...
plz                      0.075619
Number of toilets:      99.675281
Gross yield:            99.937725
Minimum floor space:    99.991104
space_cleaned           59.405720
Length: 95, dtype: float64

### Remove redundant columns

In [18]:
columns = ['Municipality',#unbrauchbar wegen long und lat
            'Availability',#zu wenig Daten
            'location',#long und lat
            'location_parsed',#long und lat
            'description',#unbrauchbar         
            'detailed_description',#unbrauchbar
            'url',#unbrauchbar
            'table',#unbrauchbar
            'Gross return',#zu wenig Daten
            'title',#unbrauchbar
            'address',#unbrauchbar wegen long und lat
            'price',#gibt price_cleaned
            'link',#unbrauchbar
            'details_structured',#unbrauchbar
            'lat',#gibt latitute
            'lon',#gibt longitude
            'index',#unbrauchbar
            'Locality',#long und lat
            'plz_parsed',#gibt ZIP
            'type',#gibt type_unified
            'Floor_unified',#gibt Floor
            'provider',#unbrauchbar
            'space',#gibt Living space
            'price_s',#gibt price_cleaned
            'address_s',#unbrauchbar wegen long und lat
            'No. of rooms:',#gibt schon rooms
            'Number of apartments:',#unbrauchbar
            'Room height:',#zu wenig Daten
            'Last refurbishment:',#zu wenig Daten
            'Year built:',#zu wenig Daten
            'features',#unbrauchbar
            'description_detailed',#unbrauchbar
            'Number of floors:',#zu wenig Daten
            'Volume:',#unbrauchbar
            'plz',#gibt ZIP
            'Number of toilets:',#zu wenig Daten
            'Gross yield:',#zu wenig Daten
            'Minimum floor space:',#zu wenig Daten
            'space_cleaned',#gibt Living space
            'gde_politics_bdp',#zu wenig Daten
            'gde_politics_evp',#zu wenig Daten
            'gde_politics_glp',#zu wenig Daten
            'gde_politics_pda',#zu wenig Daten
            'gde_politics_rights'#zu wenig Daten
]

clean_df = clean_df.drop(columns, axis=1)
clean_df.head()

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,gde_private_apartments,gde_social_help_quota,gde_tax,gde_workers_sector1,gde_workers_sector2,gde_workers_sector3,gde_workers_total,price_cleaned,rooms,type_unified
0,100.0,NaN,NaN,4.0,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,686.0,2.234259,5.89,14.0,9.0,308.0,331.0,1150000.0,5.0,penthouse
1,156.0,222.0,242.0,NaN,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,686.0,2.234259,5.89,14.0,9.0,308.0,331.0,1420000.0,5.0,terrace-house
2,93.0,NaN,NaN,2.0,0.163362,0.095877,0.001911,47.397416,8.043150,0.0,...,10149.0,3.549010,6.05,37.0,3092.0,30364.0,33493.0,720000.0,5.0,penthouse
3,154.0,370.0,257.0,NaN,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,686.0,2.234259,5.89,14.0,9.0,308.0,331.0,1430000.0,5.0,detached-house
4,142.0,NaN,NaN,0.0,0.333865,0.279276,0.145835,47.404870,8.052781,0.0,...,2638.0,1.708126,6.30,65.0,349.0,941.0,1355.0,995000.0,5.0,flat

### Divide categorical "type" variable into dummy variables

In [19]:
clean_df["type_unified"].unique()

array(['penthouse', 'terrace-house', 'detached-house', 'flat',
       'stepped-house', 'farmhouse', 'semi-detached-house',
       'stepped-apartment', 'duplex-maisonette', 'attic-flat', 'loft',
       'chalet', 'villa', 'attic-room', 'secondary-suite', 'castle',
       'detached-secondary-suite', 'studio',
       'furnished-residential-property', 'rustico', 'single-room'],
      dtype=object)

In [20]:
clean_df = pd.get_dummies(clean_df, columns=['type_unified'])

### How many NAN's has each column

In [21]:
(clean_df.isnull().sum() / len(clean_df)) * 100

#Floor und Floorspace????

Living space                       2.668920
Plot area                         63.480272
Floor space                       74.609670
Floor                             54.383702
ForestDensityL                     0.000000
                                    ...
type_unified_stepped-apartment     0.000000
type_unified_stepped-house         0.000000
type_unified_studio                0.000000
type_unified_terrace-house         0.000000
type_unified_villa                 0.000000
Length: 71, dtype: float64

In [22]:
#price as float
clean_df['price_cleaned']

0        1150000.0
1        1420000.0
2         720000.0
3        1430000.0
4         995000.0
           ...
22476     475000.0
22477    1490000.0
22478    1450000.0
22479    1290000.0
22480     780000.0
Name: price_cleaned, Length: 22481, dtype: float64

### Check for every columns if there are absurd values, which are not possible
### e.g. negative prices, negative living space, negative plot area, etc.

In [23]:
stats_df = pd.DataFrame(columns=["min", "0.25 quantile", "mean", "median", "0.75 quantile", "max"])
stats_df["min"] = clean_df.min()
stats_df["0.25 quantile"] = clean_df.quantile(0.25)
stats_df["mean"] = clean_df.mean()
stats_df["median"] = clean_df.median()
stats_df["0.75 quantile"] = clean_df.quantile(0.75)
stats_df["max"] = clean_df.max()
stats_df = stats_df.round(2)
stats_df = stats_df[~stats_df.index.str.startswith("type_")]
stats_df

,min,0.25 quantile,mean,median,0.75 quantile,max
Living space,0.00,97.00,176.42,130.00,185.00,9681.00
Plot area,1.00,347.25,1377.37,646.00,1137.00,350917.00
Floor space,1.00,101.00,201.05,148.00,234.00,7798.00
Floor,-4.00,0.00,4.44,1.00,2.00,1011.00
ForestDensityL,0.00,0.02,0.19,0.11,0.30,0.90
ForestDensityM,0.00,0.00,0.12,0.03,0.19,1.00
ForestDensityS,0.00,0.00,0.08,0.00,0.05,1.00
Latitude,45.83,46.22,46.64,46.50,47.06,47.79
Longitude,5.97,6.93,7.58,7.36,8.29,10.40
NoisePollutionRailwayL,0.00,0.00,0.01,0.00,0.02,0.26
NoisePollutionRailwayM,0.00,0.00,0.01,0.00,0.00,0.39
NoisePollutionRailwayS,0.00,0.00,0.01,0.00,0.00,0.48
NoisePollutionRoadL,0.00,0.14,0.24,0.22,0.31,0.64
NoisePollutionRoadM,0.00,0.17,0.26,0.26,0.35,0.75
NoisePollutionRoadS,0.00,0.18,0.29,0.29,0.39,0.77
PopulationDensityL,0.00,0.06,0.18,0.14,0.25,0.90
PopulationDensityM,0.00,0.11,0.25,0.21,0.36,0.96
PopulationDensityS,0.00,0.17,0.34,0.30,0.49,1.00
RiversAndLakesL,0.00,0.00,0.03,0.00,0.02,0.52
RiversAndLakesM,0.00,0.00,0.01,0.00,0.00,0.50
RiversAndLakesS,0.00,0.00,0.00,0.00,0.00,0.49
WorkplaceDensityL,0.00,0.02,0.09,0.05,0.09,0.86
WorkplaceDensityM,0.00,0.04,0.13,0.07,0.14,0.94
WorkplaceDensityS,0.00,0.05,0.17,0.09,0.18,1.00
Zip,1000.00,1801.00,3698.12,2543.00,5745.00,9658.00
distanceToTrainStation,0.01,0.46,1.92,1.06,2.71,26.48
gde_area_agriculture_percentage,0.00,20.61,34.84,33.84,47.85,87.79
gde_area_forest_percentage,0.00,21.43,34.08,32.54,45.56,87.75
gde_area_nonproductive_percentage,0.00,0.72,10.21,2.49,8.29,88.59
gde_area_settlement_percentage,0.42,7.16,20.87,15.14,28.19,98.65
gde_average_house_hold,1.75,2.15,2.30,2.29,2.41,3.14
gde_empty_apartments,0.00,0.66,1.77,1.36,2.46,13.41
gde_foreigners_percentage,1.56,15.80,24.65,23.88,32.48,60.00
gde_new_homes_per_1000,0.00,2.30,7.05,4.81,8.88,108.23
gde_politics_cvp,0.03,4.13,17.26,14.75,25.87,80.10
gde_politics_fdp,0.53,14.37,21.15,20.49,27.30,56.50
gde_politics_gps,0.00,4.01,6.67,5.52,9.32,40.09
gde_politics_sp,1.11,12.92,17.48,16.87,21.23,53.58
gde_politics_svp,2.39,16.94,24.81,21.73,30.97,88.71
gde_pop_per_km2,1.86,122.85,796.55,314.41,841.99,12498.68
gde_population,98.00,1978.00,13049.74,4568.00,10711.00,402762.00
gde_private_apartments,41.00,831.00,5894.40,1934.00,4483.00,194622.00
gde_social_help_quota,0.00,1.20,2.74,2.11,3.55,11.94
gde_tax,1.66,4.37,6.24,6.08,8.44,10.49
gde_workers_sector1,0.00,30.00,106.60,67.00,147.00,754.00
gde_workers_sector2,0.00,137.00,1380.53,445.00,1288.00,36333.00
gde_workers_sector3,7.00,383.00,8051.86,1201.00,3762.00,439275.00
gde_workers_total,17.00,635.00,9539.07,1780.00,5484.00,468635.00
price_cleaned,1.00,575000.00,1302067.77,860000.00,1418000.00,49000000.00
rooms,0.00,4.50,5.09,5.00,5.00,35.00

Living space hat einen komischen min Wert

Plot area hat einen komischen min Wert

Floor space Hat einen komischen min Wert

Floor hat komische max Werte

price_cleaned hat einen komischen min Wert

In [24]:
#living_space_m2, Floor space_m2, area_m2 and price has weird min values, let's check them
clean_df[clean_df['Living space'] <= 20]

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
2710,5.0,1275.0,NaN,NaN,0.022664,0.000000,0.000000,46.749443,6.809191,0.000000,...,0,0,0,0,0,0,0,0,0,1
3698,0.0,10000.0,NaN,NaN,0.262601,0.387136,0.151863,46.166641,6.170931,0.000000,...,0,0,0,0,0,0,0,0,0,0
6475,18.0,NaN,NaN,NaN,0.000000,0.000000,0.000000,47.509946,9.433765,0.026183,...,0,0,0,0,0,0,0,0,0,0
8649,16.0,1200.0,NaN,NaN,0.244908,0.264163,0.207302,45.989107,8.820560,0.000000,...,0,0,0,0,0,0,0,0,0,0
10530,19.0,NaN,NaN,NaN,0.016314,0.007802,0.000000,46.529557,6.560561,0.001126,...,0,0,0,0,1,0,0,0,0,0
11460,15.0,NaN,20.0,1.0,0.653653,0.584757,0.530507,46.194115,7.175340,0.000000,...,0,0,0,0,0,0,0,1,0,0
11550,20.0,NaN,25.0,6.0,0.076971,0.018012,0.000000,46.096017,7.230466,0.000000,...,0,0,0,0,0,0,0,0,0,0
11562,1.0,176.0,NaN,NaN,0.496904,0.490431,0.489897,46.080593,7.212619,0.000000,...,0,0,0,0,0,0,0,0,0,0
11565,16.0,NaN,19.0,4.0,0.076971,0.018012,0.000000,46.096017,7.230466,0.000000,...,0,0,0,0,0,0,0,0,0,0
11575,20.0,NaN,25.0,5.0,0.076971,0.018012,0.000000,46.096017,7.230466,0.000000,...,0,0,0,0,0,0,0,0,0,0
11691,0.0,21000.0,NaN,NaN,0.488697,0.569778,0.489897,46.098200,7.505315,0.000000,...,0,0,0,0,0,0,0,0,0,0
11800,12.0,NaN,NaN,0.0,0.192989,0.057782,0.000000,46.378917,7.625847,0.000000,...,0,0,0,0,0,0,0,1,0,0
12856,14.0,13014.0,NaN,NaN,0.227567,0.272267,0.246566,47.174180,8.600562,0.000000,...,0,0,0,0,0,0,0,0,0,0
15325,5.0,1275.0,NaN,NaN,0.160616,0.051230,0.150340,46.719749,6.784727,0.000000,...,0,0,0,0,0,0,0,0,0,1
15542,16.0,NaN,NaN,NaN,0.000000,0.000000,0.000000,46.828011,6.946996,0.030008,...,0,0,0,0,0,0,0,0,0,0
17885,15.0,NaN,20.0,1.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
17886,15.0,NaN,20.0,1.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,1,0,0
18303,1.0,176.0,NaN,NaN,0.513901,0.630910,0.613308,46.032303,7.309549,0.000000,...,0,0,0,0,0,0,0,0,0,0
18323,20.0,NaN,25.0,5.0,0.081086,0.107873,0.034555,46.095302,7.228180,0.000000,...,0,0,0,0,0,0,0,0,0,0
18324,20.0,NaN,25.0,6.0,0.081086,0.107873,0.034555,46.095302,7.228180,0.000000,...,0,0,0,0,0,0,0,0,0,0
18343,16.0,NaN,19.0,4.0,0.081086,0.107873,0.034555,46.095302,7.228180,0.000000,...,0,0,0,0,0,0,0,0,0,0
20289,13.0,NaN,NaN,-1.0,0.158777,0.010418,0.000000,47.201226,7.400751,0.009572,...,0,0,0,0,1,0,0,0,0,0
21186,18.0,NaN,NaN,NaN,0.001744,0.000000,0.000000,46.316738,7.988526,0.047914,...,0,0,0,0,0,0,0,0,0,0
21210,6.0,NaN,NaN,0.0,0.325083,0.025209,0.000000,46.107193,7.924751,0.000000,...,0,0,0,0,0,0,0,0,0,0
21373,18.0,NaN,NaN,3.0,0.192989,0.057782,0.000000,46.378917,7.625847,0.000000,...,0,0,0,0,0,0,0,1,0,0
21636,1.0,NaN,NaN,NaN,0.728738,0.637685,0.555986,46.332592,7.525694,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [25]:
clean_df[clean_df['Plot area'] <= 20]

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
6835,92.0,20.0,108.0,NaN,0.614086,0.402555,0.072849,46.128922,8.985247,0.000000,...,0,0,0,0,0,0,0,0,0,0
13468,155.0,12.0,189.0,3.0,0.103021,0.096711,0.051118,46.552803,6.597701,0.000000,...,0,0,0,0,0,0,0,0,0,0
13631,66.0,19.0,75.0,0.0,0.018306,0.000000,0.000000,46.639423,6.633247,0.000000,...,0,0,0,0,0,0,0,0,0,0
13634,102.0,8.0,110.0,0.0,0.018306,0.000000,0.000000,46.639423,6.633247,0.000000,...,0,0,0,0,0,0,0,0,0,0
15059,86.0,15.0,NaN,NaN,0.095162,0.097193,0.153314,46.240700,6.146938,0.068045,...,0,0,0,0,0,0,0,0,0,0
15528,76.0,10.0,78.0,0.0,0.178318,0.126173,0.032757,46.741386,6.884060,0.005165,...,0,0,0,0,0,0,0,0,0,0
16012,154.0,20.0,164.0,0.0,0.089348,0.000000,0.000000,46.708669,6.883432,0.000000,...,0,0,0,0,0,0,0,0,0,0
16229,60.0,15.0,70.0,0.0,0.000000,0.000000,0.000000,46.726494,7.137549,0.000000,...,0,0,0,0,0,0,0,0,0,0
16522,160.0,10.0,NaN,1.0,0.005083,0.000000,0.000000,46.472305,6.832813,0.039872,...,0,0,0,0,0,0,0,0,0,0
16696,49.0,20.0,59.0,0.0,0.049485,0.005848,0.000000,46.453593,6.892623,0.000000,...,0,0,0,0,0,0,0,0,0,0
16987,63.0,20.0,69.0,0.0,0.000000,0.000000,0.000000,46.317280,6.967625,0.045626,...,0,0,0,0,0,0,0,0,0,0
16988,63.0,20.0,69.0,0.0,0.000000,0.000000,0.000000,46.317280,6.967625,0.045626,...,0,0,0,0,0,0,0,0,0,0
17194,113.0,17.0,124.0,0.0,0.038104,0.000000,0.000000,46.252951,6.947692,0.000318,...,0,0,0,0,0,0,0,0,0,0
18312,208.0,16.0,269.0,NaN,0.513901,0.630910,0.613308,46.032303,7.309549,0.000000,...,0,0,0,0,0,0,0,0,0,0
18478,32.0,20.0,45.0,0.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18479,32.0,20.0,45.0,0.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,1,0,0
18512,32.0,20.0,45.0,0.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18559,79.0,20.0,79.0,0.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18564,125.0,1.0,NaN,NaN,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18631,130.0,10.0,130.0,4.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,1,0,0,0,0
18632,97.0,10.0,130.0,4.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18643,115.0,12.0,142.0,2.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18644,153.0,12.0,153.0,2.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,1,0,0,0,0
18652,113.0,12.0,149.0,3.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18678,215.0,12.0,215.0,3.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,1,0,0,0,0
18679,167.0,13.0,215.0,3.0,0.000000,0.000000,0.000000,46.230338,7.364450,0.069983,...,0,0,0,0,0,0,0,0,0,0
18741,125.0,19.0,125.0,0.0,0.457060,0.286430,0.237230,46.208075,7.215490,0.000000,...,0,0,0,0,0,0,0,0,0,0
18930,45.0,20.0,45.0,0.0,0.015847,0.000368,0.000000,46.255894,7.419772,0.020772,...,0,0,0,0,0,0,0,0,0,0
18931,45.0,20.0,45.0,0.0,0.015847,0.000368,0.000000,46.255894,7.419772,0.020772,...,0,0,0,0,0,0,0,0,0,0
18932,45.0,20.0,45.0,0.0,0.015847,0.000368,0.000000,46.255894,7.419772,0.020772,...,0,0,0,0,0,0,0,0,0,0
18990,87.0,14.0,97.0,0.0,0.015847,0.000368,0.000000,46.255894,7.419772,0.020772,...,0,0,0,0,0,0,0,0,0,0
19105,88.0,9.0,NaN,0.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19110,90.0,16.0,NaN,0.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19114,103.0,13.0,NaN,2.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19120,104.0,14.0,NaN,2.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19123,119.0,7.0,NaN,0.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19132,162.0,9.0,NaN,2.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19134,165.0,7.0,NaN,2.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19176,60.0,11.0,73.0,0.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19255,108.0,13.0,128.0,0.0,0.036027,0.006022,0.000000,46.255137,7.304698,0.000000,...,0,0,0,0,0,0,0,0,0,0
19326,58.0,18.0,58.0,0.0,0.012769,0.015578,0.000000,46.242142,7.342425,0.000000,...,0,0,0,0,0,0,0,0,0,0
20206,70.0,16.0,70.0,4.0,0.028560,0.043286,0.000000,47.056408,6.744672,0.006381,...,0,0,0,0,0,0,0,0,0,0
21679,55.0,15.0,NaN,0.0,0.183679,0.105169,0.000000,46.308895,7.481390,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [26]:
clean_df[clean_df['Floor space'] <= 20]

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
383,98.0,NaN,6.0,NaN,0.090141,0.000000,0.000000,47.472135,8.212604,0.037124,...,0,0,0,0,0,0,0,0,0,0
783,160.0,2613.0,13.0,NaN,0.191894,0.129813,0.069941,47.263667,8.341495,0.002889,...,0,0,0,0,0,0,0,0,0,0
1560,98.0,NaN,8.0,NaN,0.069335,0.001890,0.000000,47.185556,7.707807,0.023158,...,0,0,0,0,0,0,0,0,0,0
1682,134.0,NaN,18.0,NaN,0.076430,0.022386,0.000000,47.126617,7.554488,0.016395,...,0,0,0,0,0,0,0,0,0,0
2203,68.0,NaN,4.0,NaN,0.290155,0.249285,0.152095,46.688320,7.844555,0.000488,...,0,0,0,0,0,0,0,0,0,0
2438,154.0,254.0,17.0,NaN,0.001612,0.000000,0.000000,47.471452,7.597517,0.010149,...,0,0,0,0,0,0,0,0,1,0
2470,111.0,NaN,14.0,1.0,0.191998,0.022341,0.000000,47.493984,7.579411,0.000000,...,0,0,0,0,0,0,0,0,0,0
3412,184.0,NaN,18.0,1.0,0.035811,0.019433,0.000000,46.949743,7.076806,0.000000,...,0,0,0,0,0,0,0,0,0,0
4023,89.0,NaN,14.0,NaN,0.218518,0.084771,0.003107,46.836294,9.287939,0.000000,...,0,0,0,0,0,0,0,0,0,0
4029,124.0,NaN,10.0,NaN,0.385713,0.323842,0.234382,46.826946,9.289007,0.000000,...,0,0,0,0,0,0,0,0,0,0
4031,92.0,NaN,12.0,NaN,0.385713,0.323842,0.234382,46.826946,9.289007,0.000000,...,0,0,0,0,0,0,0,0,0,0
4040,92.0,NaN,6.0,1.0,0.270672,0.192271,0.106198,46.932048,9.536451,0.000000,...,0,0,0,0,0,0,0,0,0,0
4143,66.0,NaN,20.0,NaN,0.430988,0.266927,0.101822,46.809781,9.531680,0.000000,...,0,0,0,0,0,0,0,0,0,0
4157,83.0,NaN,14.0,NaN,0.001071,0.000000,0.000000,46.854956,9.526742,0.046288,...,0,0,0,0,0,0,0,0,0,0
4238,74.0,NaN,5.0,NaN,0.390434,0.167669,0.067203,46.808449,9.259200,0.000000,...,0,0,0,0,0,0,0,0,0,0
4241,84.0,NaN,13.0,NaN,0.390434,0.167669,0.067203,46.808449,9.259200,0.000000,...,0,0,0,0,0,0,0,0,0,0
4588,114.0,NaN,8.0,4.0,0.302188,0.251411,0.060549,47.054097,8.292834,0.060517,...,0,0,0,0,0,0,0,0,0,0
5182,54.0,NaN,12.0,1.0,0.086072,0.000000,0.000000,47.423394,9.323659,0.000000,...,0,0,0,0,0,0,0,0,0,0
5186,108.0,NaN,12.0,1.0,0.086072,0.000000,0.000000,47.423394,9.323659,0.000000,...,0,0,0,0,0,0,0,0,0,0
5189,108.0,NaN,9.0,3.0,0.086072,0.000000,0.000000,47.423394,9.323659,0.000000,...,0,0,0,0,0,0,0,0,0,0
5263,111.0,NaN,7.0,2.0,0.004271,0.000000,0.000000,47.413111,9.272201,0.077646,...,0,0,0,0,0,0,0,0,0,0
5264,65.0,NaN,6.0,1.0,0.200217,0.123063,0.000000,47.464199,9.566104,0.000000,...,0,0,0,0,0,0,0,0,0,0
5665,129.0,207.0,11.0,NaN,0.028168,0.000000,0.000000,47.445824,9.144913,0.000000,...,0,0,0,0,0,0,0,0,1,0
5903,88.0,NaN,16.0,2.0,0.092661,0.016773,0.000000,47.290362,7.717261,0.068193,...,0,0,0,0,0,0,0,0,0,0
8459,89.0,NaN,15.0,1.0,0.346859,0.202682,0.000000,46.020130,8.976018,0.000000,...,0,0,0,0,0,0,0,0,0,0
8464,89.0,NaN,15.0,1.0,0.346859,0.202682,0.000000,46.020130,8.976018,0.000000,...,0,0,0,0,0,0,0,0,0,0
11460,15.0,NaN,20.0,1.0,0.653653,0.584757,0.530507,46.194115,7.175340,0.000000,...,0,0,0,0,0,0,0,1,0,0
11565,16.0,NaN,19.0,4.0,0.076971,0.018012,0.000000,46.096017,7.230466,0.000000,...,0,0,0,0,0,0,0,0,0,0
12809,200.0,NaN,10.0,4.0,0.227567,0.272267,0.246566,47.174180,8.600562,0.000000,...,1,0,0,0,0,0,0,0,0,0
13210,76.0,NaN,4.0,3.0,0.286686,0.139504,0.000000,47.246667,8.607851,0.000000,...,0,0,0,0,0,0,0,0,0,0
16438,184.0,NaN,18.0,1.0,0.035811,0.019433,0.000000,46.949743,7.076806,0.000000,...,0,0,0,0,0,0,0,0,0,0
17885,15.0,NaN,20.0,1.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
17886,15.0,NaN,20.0,1.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,1,0,0
18343,16.0,NaN,19.0,4.0,0.081086,0.107873,0.034555,46.095302,7.228180,0.000000,...,0,0,0,0,0,0,0,0,0,0
20135,75.0,NaN,4.0,8.0,0.019785,0.000000,0.000000,47.093240,6.814634,0.033235,...,0,0,0,0,0,0,0,0,0,0
20667,249.0,1272.0,11.0,NaN,0.040755,0.012023,0.000000,46.947248,7.451586,0.000000,...,0,0,0,0,0,0,0,0,0,0
20904,98.0,NaN,8.0,NaN,0.005332,0.000000,0.000000,47.188155,7.706109,0.088279,...,0,0,0,0,0,0,0,0,0,0
20960,134.0,NaN,18.0,NaN,0.012889,0.000000,0.000000,47.130095,7.557263,0.014603,...,0,0,0,0,0,0,0,0,0,0
22111,195.0,578.0,1.0,NaN,0.298248,0.155929,0.014410,47.332588,8.339168,0.000000,...,0,0,0,0,0,0,0,0,0,0
22448,181.0,210.0,16.0,NaN,0.000164,0.000000,0.000000,47.385315,8.425153,0.029719,...,0,0,0,1,0,0,0,0,0,0

In [27]:
clean_df[clean_df['Floor'] > 30]

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
3133,96.0,NaN,NaN,100.0,0.459500,0.283642,0.064622,46.559132,7.081714,0.000000,...,0,0,0,0,0,0,0,0,0,0
10857,162.0,NaN,NaN,999.0,0.032747,0.000000,0.000000,46.422879,6.260065,0.001111,...,0,0,0,0,0,0,0,0,0,0
10884,147.0,NaN,NaN,999.0,0.598226,0.324451,0.239227,46.447648,6.133410,0.000000,...,0,0,0,0,0,0,0,0,0,0
11113,159.0,NaN,NaN,999.0,0.005083,0.000000,0.000000,46.472305,6.832813,0.039872,...,0,0,0,0,0,0,0,0,0,0
11308,219.0,NaN,NaN,999.0,0.009171,0.000000,0.000000,46.436880,6.911776,0.033026,...,0,0,0,0,0,0,0,0,0,0
11323,180.0,NaN,NaN,999.0,0.009171,0.000000,0.000000,46.436880,6.911776,0.033026,...,0,0,0,0,0,0,0,0,0,0
13475,97.0,NaN,NaN,999.0,0.103021,0.096711,0.051118,46.552803,6.597701,0.000000,...,0,0,0,0,0,0,0,0,0,0
14062,162.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.423691,6.265225,0.021231,...,0,0,0,0,0,0,0,0,0,0
14083,96.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14087,97.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14088,103.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14089,84.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14090,98.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14091,124.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14243,325.0,NaN,NaN,999.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14277,230.0,NaN,230.0,1011.0,0.000000,0.000000,0.000000,46.201506,6.146503,0.000000,...,0,0,0,0,0,0,0,0,0,0
14852,147.0,NaN,NaN,999.0,0.548175,0.510160,0.390541,46.445533,6.160638,0.000000,...,0,0,0,0,0,0,0,0,0,0
16523,159.0,NaN,NaN,999.0,0.005083,0.000000,0.000000,46.472305,6.832813,0.039872,...,0,0,0,0,0,0,0,0,0,0
16714,180.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16717,219.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16753,125.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16775,160.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16786,109.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16790,173.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
16824,263.0,NaN,NaN,999.0,0.141086,0.017420,0.000000,46.424911,6.924508,0.053236,...,0,0,0,0,0,0,0,0,0,0
17942,92.0,NaN,NaN,999.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
17998,158.0,NaN,NaN,999.0,0.032713,0.060558,0.040809,46.171379,7.184750,0.000000,...,0,0,0,0,0,0,0,0,0,0
18821,110.0,NaN,NaN,999.0,0.001954,0.000000,0.000000,46.209995,7.257697,0.003376,...,0,0,0,0,0,0,0,0,0,0
18859,130.0,NaN,NaN,999.0,0.001954,0.000000,0.000000,46.209995,7.257697,0.003376,...,0,0,0,0,0,0,0,0,0,0
19952,191.0,NaN,NaN,999.0,0.028553,0.000216,0.000000,46.183520,7.294748,0.000000,...,0,0,0,0,0,0,0,0,0,0
21415,200.0,2000.0,NaN,195.0,0.192989,0.057782,0.000000,46.378917,7.625847,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [28]:
clean_df[clean_df['price_cleaned'] < 20_000]

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
3614,NaN,NaN,NaN,NaN,0.061377,0.065835,0.000000,46.179057,6.119311,0.005745,...,0,0,0,0,0,0,0,0,0,0
3811,NaN,NaN,NaN,NaN,0.034854,0.025740,0.000000,46.262419,6.214042,0.000000,...,0,0,0,0,0,0,0,0,0,0
3906,140.0,NaN,NaN,NaN,0.262601,0.387136,0.151863,46.166641,6.170931,0.000000,...,0,0,0,0,0,0,0,0,0,0
4398,75.0,NaN,NaN,NaN,0.174940,0.091614,0.000000,47.406451,7.040699,0.000000,...,0,0,0,0,0,0,0,0,0,0
5021,45.0,NaN,NaN,8.0,0.161326,0.300538,0.280474,47.053017,6.753855,0.000000,...,0,0,0,0,0,0,0,0,0,0
5026,110.0,NaN,NaN,2.0,0.161326,0.300538,0.280474,47.053017,6.753855,0.000000,...,0,0,0,0,0,0,0,0,0,0
10213,170.0,NaN,NaN,1.0,0.024808,0.028412,0.000000,46.522587,6.635715,0.000000,...,0,0,0,0,0,0,0,0,0,0
10462,82.0,NaN,NaN,NaN,0.197137,0.227047,0.012352,46.517128,6.676822,0.020723,...,1,0,0,0,0,0,0,0,0,0
10530,19.0,NaN,NaN,NaN,0.016314,0.007802,0.000000,46.529557,6.560561,0.001126,...,0,0,0,0,1,0,0,0,0,0
10690,NaN,NaN,NaN,NaN,0.001743,0.000000,0.000000,46.487053,6.421055,0.000000,...,0,0,0,0,0,0,0,0,1,0
10798,NaN,NaN,NaN,NaN,0.200541,0.047633,0.000000,46.475330,6.336503,0.000000,...,0,0,0,0,0,0,0,0,0,0
11358,NaN,NaN,NaN,NaN,0.300596,0.287902,0.000744,46.442426,6.916797,0.000050,...,0,0,0,0,0,0,0,0,0,0
11376,350.0,NaN,NaN,NaN,0.033787,0.038833,0.035934,46.317295,7.993749,0.061515,...,0,0,0,0,0,0,0,0,0,0
12739,66.0,NaN,NaN,NaN,0.015266,0.018268,0.000000,46.233198,7.398940,0.000000,...,0,0,0,0,0,0,0,0,0,0
14472,119.0,NaN,NaN,NaN,0.197308,0.424279,0.662934,46.191321,6.185489,0.000000,...,0,0,0,0,0,0,0,0,0,0
15542,16.0,NaN,NaN,NaN,0.000000,0.000000,0.000000,46.828011,6.946996,0.030008,...,0,0,0,0,0,0,0,0,0,0
17882,68.0,NaN,88.0,0.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
17883,90.0,NaN,100.0,3.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
17884,85.0,NaN,115.0,4.0,0.603419,0.518554,0.544960,46.199398,7.172194,0.000000,...,0,0,0,0,0,0,0,0,0,0
20194,45.0,NaN,NaN,8.0,0.028560,0.043286,0.000000,47.056408,6.744672,0.006381,...,0,0,0,0,0,0,0,0,0,0
20195,110.0,NaN,NaN,2.0,0.028560,0.043286,0.000000,47.056408,6.744672,0.006381,...,0,0,0,0,0,0,0,0,0,0
20532,120.0,NaN,NaN,2.0,0.001704,0.000000,0.000000,47.415890,7.076827,0.009344,...,0,0,0,0,0,0,0,0,0,0
20684,23.0,NaN,NaN,NaN,0.000157,0.000000,0.000000,47.015821,7.484926,0.075788,...,0,0,0,0,0,0,0,0,0,0
21186,18.0,NaN,NaN,NaN,0.001744,0.000000,0.000000,46.316738,7.988526,0.047914,...,0,0,0,0,0,0,0,0,0,0

#### Remove rows where the Values are "impossible"  --> Als Gruppe noch besprechen

In [29]:
clean_df = clean_df[(clean_df['Living space'] > 20) | (clean_df['Living space'].isnull())]
clean_df = clean_df[(clean_df['Plot area'] > 20) | (clean_df['Plot area'].isnull())]
clean_df = clean_df[(clean_df['Floor space'] > 20) | (clean_df['Floor space'].isnull())]
clean_df = clean_df[(clean_df['Floor'] < 30) | (clean_df['Floor'].isnull())]
clean_df = clean_df[(clean_df['price_cleaned'] > 20_000) | (clean_df['price_cleaned'].isnull())]
clean_df

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
0,100.0,NaN,NaN,4.0,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,1,0,0,0,0,0,0,0,0,0
1,156.0,222.0,242.0,NaN,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,0,0,0,0,0,0,0,0,1,0
2,93.0,NaN,NaN,2.0,0.163362,0.095877,0.001911,47.397416,8.043150,0.000000,...,1,0,0,0,0,0,0,0,0,0
3,154.0,370.0,257.0,NaN,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,142.0,NaN,NaN,0.0,0.333865,0.279276,0.145835,47.404870,8.052781,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22476,102.0,140.0,NaN,NaN,0.495715,0.385885,0.097278,47.158311,9.468139,0.000000,...,0,0,0,0,0,0,0,0,0,0
22477,250.0,NaN,NaN,NaN,0.000000,0.000000,0.000000,47.467888,9.052650,0.000000,...,0,0,0,0,0,1,0,0,0,0
22478,240.0,455.0,NaN,NaN,0.000000,0.000000,0.000000,47.463605,9.038485,0.052609,...,0,0,0,0,0,0,0,0,0,0
22479,175.0,NaN,NaN,NaN,0.410843,0.151363,0.038351,47.526024,8.926627,0.000000,...,0,0,0,0,0,1,0,0,0,0
22480,220.0,214.0,NaN,NaN,0.284828,0.153670,0.113892,47.322510,9.088866,0.020078,...,0,0,0,0,0,0,0,0,0,0

### Impute the NAN's of the column's

In [30]:
nan_percentage = (clean_df.isnull().sum() / len(clean_df)) * 100

cols = nan_percentage[(nan_percentage < 20) & (nan_percentage > 0)].index
cols

Index(['Living space', 'gde_politics_cvp', 'gde_politics_fdp',
       'gde_politics_gps', 'gde_politics_sp', 'gde_politics_svp',
       'price_cleaned', 'rooms'],
      dtype='object')

In [31]:
imputer = KNNImputer(n_neighbors=5)
clean_df = pd.DataFrame(imputer.fit_transform(clean_df), columns=clean_df.columns)
clean_df

,Living space,Plot area,Floor space,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
0,100.0,553.6,213.2,4.0,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,156.0,222.0,242.0,2.4,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,93.0,1781.6,290.0,2.0,0.163362,0.095877,0.001911,47.397416,8.043150,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,154.0,370.0,257.0,1.8,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142.0,584.0,278.2,0.0,0.333865,0.279276,0.145835,47.404870,8.052781,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22316,102.0,140.0,234.0,2.0,0.495715,0.385885,0.097278,47.158311,9.468139,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22317,250.0,788.2,213.0,2.2,0.000000,0.000000,0.000000,47.467888,9.052650,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22318,240.0,455.0,190.0,2.2,0.000000,0.000000,0.000000,47.463605,9.038485,0.052609,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22319,175.0,801.0,185.4,1.0,0.410843,0.151363,0.038351,47.526024,8.926627,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22320,220.0,214.0,216.8,1.0,0.284828,0.153670,0.113892,47.322510,9.088866,0.020078,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
target_path = Path('./data/clean/immoscout_v2.csv')
clean_df.to_csv(target_path, index=False)