# Data Wrangling and explorative data analysis

### Imports

In [1]:
import numpy as np
import __main__ as main

from pathlib import Path
from sklearn.preprocessing import MinMaxScaler as Scaler
from joblib import dump, load
from helpers.is_interactive import is_interactive

import warnings
warnings.filterwarnings('ignore')

### Run dependency notebooks

In [2]:
if is_interactive(main):
    %run 01_0_data_wrangling.ipynb -p

Running previous notebooks...

### CSV Import

In [3]:
source_path = Path('./data/model/01_clean_data.pkl')
source_data = load(source_path)

df = source_data['dataset']

In [4]:
df.head()

,Living space,Plot area,price_cleaned,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
0,100.0,1282.323307,1150000.0,4.00,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,156.0,222.000000,1420000.0,2.75,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,93.0,1198.982216,720000.0,2.00,0.163362,0.095877,0.001911,47.397416,8.043150,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,154.0,370.000000,1430000.0,0.00,0.511176,0.286451,0.090908,47.415927,8.085840,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142.0,462.537377,995000.0,0.00,0.333865,0.279276,0.145835,47.404870,8.052781,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Scaling
Using the Min-Max-Method

In [5]:
scaled_df = df.copy()
scaler = Scaler()

all_columns = scaled_df.columns
columns = list(filter(lambda col: col != 'price_cleaned', all_columns))

scaler.fit(scaled_df[columns])

scaled_df[columns] = scaler.transform(scaled_df[columns])

scaled_df.head()

,Living space,Plot area,price_cleaned,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,type_unified_penthouse,type_unified_rustico,type_unified_secondary-suite,type_unified_semi-detached-house,type_unified_single-room,type_unified_stepped-apartment,type_unified_stepped-house,type_unified_studio,type_unified_terrace-house,type_unified_villa
0,0.011759,0.003654,1150000.0,0.285714,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.018764,0.000633,1420000.0,0.241071,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.010883,0.003417,720000.0,0.214286,0.182127,0.095930,0.001911,0.799258,0.468164,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.018514,0.001054,1430000.0,0.142857,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.017013,0.001318,995000.0,0.142857,0.372216,0.279429,0.145835,0.803051,0.470341,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Enhancing the dataset with additional columns with the power of an existing column

In [6]:
numeric_columns = scaled_df.select_dtypes(include=np.number).columns.tolist()

numeric_df = scaled_df[numeric_columns]

numeric_df = numeric_df.drop(columns=[
    col
    for col in numeric_columns
    if 'type_' in col or col == 'price_cleaned'
])

numeric_columns = numeric_df.columns

In [7]:
len(numeric_columns)

48

In [8]:
clean_df = scaled_df.copy()

for col in numeric_columns:
    for p in range(2,7):
        clean_df[f'{col}_{p}'] = numeric_df[col]**p

In [9]:
clean_df.head()

,Living space,Plot area,price_cleaned,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,gde_workers_total_2,gde_workers_total_3,gde_workers_total_4,gde_workers_total_5,gde_workers_total_6,rooms_2,rooms_3,rooms_4,rooms_5,rooms_6
0,0.011759,0.003654,1150000.0,0.285714,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
1,0.018764,0.000633,1420000.0,0.241071,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
2,0.010883,0.003417,720000.0,0.214286,0.182127,0.095930,0.001911,0.799258,0.468164,0.0,...,5.103043e-03,3.645388e-04,2.604104e-05,1.860257e-06,1.328885e-07,0.020408,0.002915,0.000416,0.000059,0.000008
3,0.018514,0.001054,1430000.0,0.142857,0.569894,0.286608,0.090908,0.808677,0.477811,0.0,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
4,0.017013,0.001318,995000.0,0.142857,0.372216,0.279429,0.145835,0.803051,0.470341,0.0,...,8.152190e-06,2.327617e-08,6.645820e-11,1.897517e-13,5.417799e-16,0.020408,0.002915,0.000416,0.000059,0.000008

### Export the object

In [10]:
target_path = Path("./data/model/02_train_data.pkl")

dump({
    'scaler': scaler,
    'base_imputer': source_data['base_imputer'],
    'imputers': source_data['imputers'],
    'dataset': clean_df
}, target_path)

['data/model/02_train_data.pkl']