# Find best model

### Imports

In [81]:
import __main__ as main

from helpers.training import *
from pathlib import Path
from joblib import load
from sklearn.model_selection import train_test_split
from datetime import datetime
from helpers.is_interactive import is_interactive

### Run dependency notebooks

In [82]:
if is_interactive(main):
    %run 01_0_data_wrangling.ipynb -p
    %run 01_2_data_wrangling_kaggle.ipynb -p
    %run 02_0_scaling.ipynb -p
    %run 02_1_scaling_kaggle.ipynb -p

Running previous notebooks...

### Load Dataframe

In [83]:
source_path = Path('./data/model/02_train_data.pkl')
training_data = load(source_path)

df = training_data['dataset']

X = df.drop('price_cleaned', axis=1)
y = df['price_cleaned']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42)

df.head(10)

,Living space,Plot area,price_cleaned,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,...,gde_workers_total_2,gde_workers_total_3,gde_workers_total_4,gde_workers_total_5,gde_workers_total_6,rooms_2,rooms_3,rooms_4,rooms_5,rooms_6
0,0.011759,0.003654,1150000.0,0.285714,0.569894,0.286608,0.090908,0.808677,0.477811,0.000000,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
1,0.018764,0.000633,1420000.0,0.241071,0.569894,0.286608,0.090908,0.808677,0.477811,0.000000,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
2,0.010883,0.003417,720000.0,0.214286,0.182127,0.095930,0.001911,0.799258,0.468164,0.000000,...,5.103043e-03,3.645388e-04,2.604104e-05,1.860257e-06,1.328885e-07,0.020408,0.002915,0.000416,0.000059,0.000008
3,0.018514,0.001054,1430000.0,0.142857,0.569894,0.286608,0.090908,0.808677,0.477811,0.000000,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
4,0.017013,0.001318,995000.0,0.142857,0.372216,0.279429,0.145835,0.803051,0.470341,0.000000,...,8.152190e-06,2.327617e-08,6.645820e-11,1.897517e-13,5.417799e-16,0.020408,0.002915,0.000416,0.000059,0.000008
5,0.023017,0.003029,2160000.0,0.142857,0.212473,0.162927,0.034759,0.801165,0.461133,0.000000,...,4.101045e-06,8.305040e-09,1.681857e-11,3.405934e-14,6.897369e-17,0.020408,0.002915,0.000416,0.000059,0.000008
6,0.014761,0.000570,550000.0,0.241071,0.569894,0.286608,0.090908,0.808677,0.477811,0.000000,...,4.489742e-07,3.008376e-10,2.015778e-13,1.350683e-16,9.050323e-20,0.020408,0.002915,0.000416,0.000059,0.000008
7,0.013260,0.000307,590000.0,0.250000,0.057230,0.000000,0.000000,0.794885,0.467948,0.187309,...,5.103043e-03,3.645388e-04,2.604104e-05,1.860257e-06,1.328885e-07,0.020408,0.002915,0.000416,0.000059,0.000008
8,0.008631,0.000118,547000.0,0.200746,0.308985,0.438584,0.327528,0.801046,0.474388,0.088907,...,5.103043e-03,3.645388e-04,2.604104e-05,1.860257e-06,1.328885e-07,0.020408,0.002915,0.000416,0.000059,0.000008
9,0.013010,0.006030,1125000.0,0.142857,0.156497,0.140161,0.156650,0.798179,0.461295,0.000000,...,4.101045e-06,8.305040e-09,1.681857e-11,3.405934e-14,6.897369e-17,0.020408,0.002915,0.000416,0.000059,0.000008

## Train all Models

In [84]:
TRAINING_FUNCTIONS = [
    train_gradient_boosting_v1,
    #train_gradient_boosting,
    #train_gradient_boosting_robust,
    #train_random_forest,
    #train_linear_regression,
    #train_mlp_regressor,
]

In [85]:
results = [
    func(X_train, X_test, y_train, y_test)
    for func in TRAINING_FUNCTIONS
]

Training GradientBoostingRegressor with -1 jobs
Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV 5/5; 1/1] START loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42
[CV 2/5; 1/1] START loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42
[CV 3/5; 1/1] START loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42
[CV 4/5; 1/1] START loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42
[CV 1/5; 1/1] START loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42
[CV 4/5; 1/1] END loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42;, score=-0.252 total time=  18.3s
[CV 1/5; 1/1] END loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42;, score=-0.242 total time=  18.4s
[CV 5/5; 1/1] END loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42;, score=-0.300 total time=  18.5s
[CV 2/5; 1/1] END loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42;, score=-0.271 total time=  18.7s
[CV 3/5; 1/1] END loss=absolute_error, max_depth=21, max_features=sqrt, min_samples_leaf=13, min_samples_split=1, n_estimators=130, random_state=42;, score=-0.267 total time=  18.7s

In [86]:
pd.DataFrame(results)

   num_columns     score                                              model
0          309  0.289443  GridSearchCV(cv=5, estimator=GradientBoostingR...

In [87]:
best_model_row = results[0]
best_model = best_model_row['model']

In [88]:
best_model.best_params_

{'loss': 'absolute_error',
 'max_depth': 21,
 'max_features': 'sqrt',
 'min_samples_leaf': 13,
 'min_samples_split': 1,
 'n_estimators': 130,
 'random_state': 42}

In [89]:
best_model.best_score_

-0.26648912052402723

In [90]:
validation_data = load(Path('data/kaggle/02_model_data.pkl'))
validation_df = validation_data['dataset']
base_imputer = validation_data['base_imputer']
scaler = validation_data['scaler']
validation_df.tail()

,Living space,Plot area,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,NoisePollutionRailwayM,...,gde_workers_total_2,gde_workers_total_3,gde_workers_total_4,gde_workers_total_5,gde_workers_total_6,rooms_2,rooms_3,rooms_4,rooms_5,rooms_6
24551,0.003753,0.000103,0.214286,0.208348,0.018837,0.000000,0.700912,0.764213,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.001837,0.000079,0.000003,1.445826e-07,6.196398e-09
24552,0.004253,0.000114,0.250000,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.001837,0.000079,0.000003,1.445826e-07,6.196398e-09
24553,0.010008,0.007988,0.142857,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.013061,0.001493,0.000171,1.949664e-05,2.228187e-06
24554,0.015136,0.000362,0.214286,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.024694,0.003880,0.000610,9.582376e-05,1.505802e-05
24555,0.018172,0.001738,0.142857,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.020408,0.002915,0.000416,5.949902e-05,8.499860e-06

In [91]:
validation_df.isna().sum()

Living space      0
Plot area         0
Floor             0
ForestDensityL    0
ForestDensityM    0
                 ..
rooms_2           0
rooms_3           0
rooms_4           0
rooms_5           0
rooms_6           0
Length: 309, dtype: int64

In [92]:
validation_df.tail()

,Living space,Plot area,Floor,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,NoisePollutionRailwayM,...,gde_workers_total_2,gde_workers_total_3,gde_workers_total_4,gde_workers_total_5,gde_workers_total_6,rooms_2,rooms_3,rooms_4,rooms_5,rooms_6
24551,0.003753,0.000103,0.214286,0.208348,0.018837,0.000000,0.700912,0.764213,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.001837,0.000079,0.000003,1.445826e-07,6.196398e-09
24552,0.004253,0.000114,0.250000,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.001837,0.000079,0.000003,1.445826e-07,6.196398e-09
24553,0.010008,0.007988,0.142857,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.013061,0.001493,0.000171,1.949664e-05,2.228187e-06
24554,0.015136,0.000362,0.214286,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.024694,0.003880,0.000610,9.582376e-05,1.505802e-05
24555,0.018172,0.001738,0.142857,0.157671,0.003708,0.011718,0.700719,0.763639,0.0,0.0,...,0.00001,3.156518e-08,9.975723e-11,3.152684e-13,9.963606e-16,0.020408,0.002915,0.000416,5.949902e-05,8.499860e-06

In [93]:
right_ids = load(Path('data/kaggle/03_right_ids.pkl'))
predictions = pd.DataFrame({
    'Id': list(validation_df.index),
    'Expected': best_model.predict(validation_df)
})
predictions

          Id      Expected
0          0  1.585487e+06
1          1  1.777241e+06
2          2  1.034667e+06
3          3  1.154931e+06
4          4  1.350019e+06
...      ...           ...
24551  24551  2.999458e+05
24552  24552  3.038479e+05
24553  24553  5.805185e+05
24554  24554  7.015561e+05
24555  24555  9.880240e+05

[24556 rows x 2 columns]

In [94]:
#join right ids as column to predictions
predictions = predictions.join(right_ids, on='Id', how='left')

In [95]:
predictions = predictions.drop('Id', axis=1)
predictions = predictions.rename(columns={'Unnamed: 0.1': 'Id'})
#Id as first column
predictions = predictions[['Id', 'Expected']]
predictions

          Id      Expected
0          0  1.585487e+06
1          1  1.777241e+06
2          2  1.034667e+06
3          3  1.154931e+06
4          4  1.350019e+06
...      ...           ...
24551  24561  2.999458e+05
24552  24562  3.038479e+05
24553  24563  5.805185e+05
24554  24564  7.015561e+05
24555  24565  9.880240e+05

[24556 rows x 2 columns]

In [96]:
#Test for submission: if predictions["Id"] is in ids set predictions["Expected"] to 150_000
ids_type_nan = load(Path('data/model/03_ids_type_nan.pkl'))
predictions.loc[predictions.index.isin(ids_type_nan), "Expected"] = 150_000

In [97]:
def getClassName(obj):
   return type(obj).__name__

def getFormattedDate(date = datetime.now()):
    return date.strftime('%Y%m%d_%H%M')

In [98]:
filename = f'{getFormattedDate()}_{getClassName(best_model.estimator)}_{getClassName(scaler)}_{getClassName(base_imputer)}_{best_model.best_params_}_{best_model_row["score"]:.3f}'
path = Path(f'data/kaggle/submissions/{filename}.csv')
predictions.to_csv(path, index=False)