# Data Wrangling and explorative data analysis

## Imports

In [53]:
import pandas as pd
from pathlib import Path
import numpy as np

## CSV Import

In [54]:
source_path = Path('data/original/immoscout.csv')
source_df = pd.read_csv(source_path)
clean_df = source_df.copy()

/var/folders/00/d026dxr1001fd8rphxcfdzb40000gn/T/ipykernel_18327/1292576271.py:2: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  source_df = pd.read_csv(source_path)

In [55]:
source_df.head()

,Unnamed: 0.1,Unnamed: 0,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,...,gde_social_help_quota,gde_tax,gde_workers_sector1,gde_workers_sector2,gde_workers_sector3,gde_workers_total,price_cleaned,type,Space extracted,rooms
0,0,0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1150000.0,penthouse,100.0,5.0
1,1,1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1420000.0,terrace-house,156.0,5.0
2,2,2,NaN,NaN,NaN,NaN,NaN,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",...,3.549010,6.05,37.0,3092.0,30364.0,33493.0,720000.0,penthouse,93.0,5.0
3,3,3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1430000.0,detached-house,154.0,5.0
4,4,4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,...,1.708126,6.30,65.0,349.0,941.0,1355.0,995000.0,flat,142.0,5.0

### Delete Unnamed Columns

In [56]:
clean_df = clean_df.loc[:, ~clean_df.columns.str.contains('^Unnamed')]

### Delete Mostly Empty Columns

In [57]:
mostly_empty_columns = [
    "detail_responsive#municipality",
    "detail_responsive#surface_living",
    "detail_responsive#floor",
    "detail_responsive#available_from",
    "Gemeinde",
    "Wohnfläche",
    "Stockwerk",
    "Nutzfläche",
    "Verfügbarkeit",
    "Grundstücksfläche",
    "detail_responsive#surface_property",
    "detail_responsive#surface_usable",
    "Commune",
    "Surface habitable",
    "Surface du terrain",
    "Surface utile",
    "Disponibilité",
    "Étage",
    "Comune",
    "Superficie abitabile",
    "Disponibilità",
    "Gross return",
    "Piano",
    "Superficie del terreno",
    "Superficie utile"
]

clean_df = clean_df.drop(mostly_empty_columns, axis=1)
clean_df

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,gde_social_help_quota,gde_tax,gde_workers_sector1,gde_workers_sector2,gde_workers_sector3,gde_workers_total,price_cleaned,type,Space extracted,rooms
0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1150000.0,penthouse,100.0,5.0
1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1420000.0,terrace-house,156.0,5.0
2,NaN,NaN,NaN,NaN,NaN,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,3.549010,6.05,37.0,3092.0,30364.0,33493.0,720000.0,penthouse,93.0,5.0
3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,2.234259,5.89,14.0,9.0,308.0,331.0,1430000.0,detached-house,154.0,5.0
4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,1.708126,6.30,65.0,349.0,941.0,1355.0,995000.0,flat,142.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13373,Uster,70 m²,NaN,NaN,On request,"Tägerackerstrasse 138610 Uster, ZH","2.5 rooms, 70 m²«Wunderschöne Attikawohnung an...",DescriptionIn einem der schönsten Quartiere Us...,https://www.immoscout24.ch//en/d/flat-buy-uste...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,1.567019,4.52,181.0,3218.0,12931.0,16330.0,1101000.0,flat,70.0,5.0
13374,Volketswil,NaN,284 m²,NaN,On request,"8604 Volketswil, ZH",8 rooms«Charmantes 2-Familienhaus im idyllisch...,DescriptionWillkommen im Herzen von Volketswil...,https://www.immoscout24.ch//en/d/semi-detached...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,2.368364,4.23,74.0,3406.0,7644.0,11124.0,1750000.0,semi-detached-house,NaN,8.0
13375,Seuzach,150 m²,160 m²,NaN,On request,"8472 Seuzach, ZH","6.5 rooms, 150 m²«EIN PARADIES IM GRÜNEN FÜR G...",DescriptionWir verkaufen dieses unglaublich to...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,1.991008,4.33,56.0,212.0,358.0,626.0,1415000.0,terrace-house,150.0,5.0
13376,Zell (ZH),145 m²,853 m²,140 m²,Immediately,"Vordere Bähntalstrasse 18483 Kollbrunn, ZH","6 rooms, 145 m²«Freistehendes 6.0 Zimmer . Ein...",Description####Freistehendes 6.0 Zimmer . Einf...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,1.257283,4.35,66.0,167.0,624.0,857.0,1465000.0,detached-house,145.0,6.0
13377,Winterthur,385 m²,1306 m²,NaN,Immediately,"Im Eichbühl 508405 Winterthur, ZH","7.5 rooms, 385 m²«Wohnen an ruhiger, sonniger ...",DescriptionDas freistehende Einfamilienhaus an...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,5.510400,4.88,244.0,12090.0,58299.0,70633.0,2750000.0,detached-house,385.0,5.0

### Take Informations from Column "details"

In [58]:
clean_df["rooms_from_details"] = (clean_df["details"].str.extract(r'(\d+) rooms')).astype(float)
clean_df["space_from_details"] = (clean_df["details"].str.extract(r'(\d+) m²')).astype(float)

### Put the Information from column "details" into "rooms" and "Space extracted" if they are nan or 0.0

In [59]:
clean_df["rooms"] = clean_df["rooms"].mask(clean_df["rooms"] == 0.0, clean_df["rooms_from_details"])
clean_df["rooms"] = clean_df["rooms"].fillna(clean_df["rooms_from_details"])

clean_df["Space extracted"] = clean_df["Space extracted"].fillna(clean_df["space_from_details"])

### Move m2 to column header

In [60]:
m2_columns = ["Floor_space_merged", "Plot_area_merged"]

for col in m2_columns:
    clean_df[col + "_m2"] = clean_df[col].str[:-3]

### Extract floor information

In [61]:
floor_col = clean_df["Floor_merged"]
floor_col = floor_col.str.replace("Ground", "0.")
floor_col = floor_col.str[:-7]

clean_df["floor"] = floor_col

### Remove redundant columns

In [62]:
redundant_columns = [
    "Municipality",
    "Living space",
    "Plot area",
    "Floor space",
    "Availability",
    "Floor",
    "Living_space_merged",
    "location_parsed",
    "details",
    "price",
    "details_structured",
    "index",
    "Floor_space_merged",
    "Plot_area_merged",
    "lat",
    "lon",
    "Floor_merged",
    "space_from_details",
    "rooms_from_details"
]

clean_df = clean_df.drop(redundant_columns, axis=1)

### Make naming more consistent

In [63]:
name_mapping = [
    ["Space extracted", "living_space_m2"],
    ["Floor_space_merged_m2", "floor_space_m2"],
    ["Plot_area_merged_m2", "plot_area_m2"],
    ["Availability_merged", "availability"],
    ["Municipality_merged", "municipality"],
    ["price_cleaned", "price"]
]

for name in name_mapping:
    if name[0] not in clean_df.columns:
        continue
    clean_df[name[1]] = clean_df[name[0]].copy()
    clean_df = clean_df.drop(name[0], axis=1)

### Column which are numeric as float

In [64]:
clean_df["floor_space_m2"] = clean_df["floor_space_m2"].astype(float)
clean_df["plot_area_m2"] = clean_df["plot_area_m2"].str.replace(",", ".").astype(float)

### "floor" has to much nan's --> drop

In [65]:
clean_df["floor"].isna().sum()

7964

In [66]:
clean_df = clean_df.drop("floor", axis=1)

### "type" is a categorical variable, so let's map it with dummy variables

In [67]:
clean_df["type"].unique()

array(['penthouse', 'terrace-house', 'detached-house', 'flat',
       'stepped-house', 'farmhouse', 'semi-detached-house',
       'stepped-apartment', 'duplex-maisonette', 'attic-flat', 'loft',
       'chalet', 'villa', 'attic-room', 'secondary-suite', 'castle',
       'detached-secondary-suite', 'studio',
       'furnished-residential-property', 'rustico', 'single-room'],
      dtype=object)

In [68]:
clean_df = pd.get_dummies(clean_df, columns=['type'])

### Make a new df with only numeric data, for the correlation matrix

In [69]:
#only numeric df
numeric_df = clean_df.select_dtypes(include=['float64', 'int64', "uint8"])
numeric_df

,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,NoisePollutionRailwayM,NoisePollutionRailwayS,NoisePollutionRoadL,NoisePollutionRoadM,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,0.0,0.0,0.058298,0.067048,...,1,0,0,0,0,0,0,0,0,0
1,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,0.0,0.0,0.058298,0.067048,...,0,0,0,0,0,0,0,0,1,0
2,0.163362,0.095877,0.001911,47.397416,8.043150,0.000000,0.0,0.0,0.334957,0.381257,...,1,0,0,0,0,0,0,0,0,0
3,0.511176,0.286451,0.090908,47.415927,8.085840,0.000000,0.0,0.0,0.058298,0.067048,...,0,0,0,0,0,0,0,0,0,0
4,0.333865,0.279276,0.145835,47.404870,8.052781,0.000000,0.0,0.0,0.133498,0.132933,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13373,0.089304,0.000000,0.000000,47.341095,8.719508,0.000000,0.0,0.0,0.306013,0.248198,...,0,0,0,0,0,0,0,0,0,0
13374,0.120618,0.054523,0.000000,47.387817,8.692746,0.000000,0.0,0.0,0.330695,0.376048,...,0,0,0,1,0,0,0,0,0,0
13375,0.007178,0.000000,0.000000,47.545958,8.708230,0.000000,0.0,0.0,0.164688,0.258562,...,0,0,0,0,0,0,0,0,1,0
13376,0.249841,0.112081,0.000000,47.433114,8.762768,0.000000,0.0,0.0,0.203866,0.269818,...,0,0,0,0,0,0,0,0,0,0
13377,0.271372,0.163193,0.044070,47.486889,8.772853,0.008657,0.0,0.0,0.069172,0.063837,...,0,0,0,0,0,0,0,0,0,0

In [70]:
corrMatrix = numeric_df.corr(method = "pearson")
corrMatrix = corrMatrix.where(np.tril(np.ones(corrMatrix.shape)).astype(np.bool)) #only lower triangle --> no duplicates
corrMatrix

/var/folders/00/d026dxr1001fd8rphxcfdzb40000gn/T/ipykernel_18327/1371071309.py:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  corrMatrix = corrMatrix.where(np.tril(np.ones(corrMatrix.shape)).astype(np.bool)) #only lower triangle --> no duplicates

,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,NoisePollutionRailwayL,NoisePollutionRailwayM,NoisePollutionRailwayS,NoisePollutionRoadL,NoisePollutionRoadM,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
ForestDensityL,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ForestDensityM,0.911491,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ForestDensityS,0.710585,0.867609,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,-0.291478,-0.287520,-0.227517,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,0.273650,0.203794,0.138276,0.058665,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
type_stepped-apartment,-0.018379,-0.014465,-0.004462,0.054592,0.008223,-0.012829,-0.012335,-0.008849,0.002007,0.000306,...,-0.021374,-0.007186,-0.000889,-0.022128,-0.000889,1.000000,NaN,NaN,NaN,NaN
type_stepped-house,0.026723,0.017659,0.020498,0.024310,-0.005025,-0.005131,0.000797,0.008599,-0.021506,-0.014233,...,-0.014635,-0.004920,-0.000609,-0.015151,-0.000609,-0.007241,1.000000,NaN,NaN,NaN
type_studio,0.015922,0.018866,0.018865,-0.022263,-0.023972,-0.001872,-0.009201,-0.009533,-0.031229,-0.029519,...,-0.009347,-0.003142,-0.000389,-0.009677,-0.000389,-0.004625,-0.003166,1.000000,NaN,NaN
type_terrace-house,-0.033460,-0.034042,-0.022782,0.057873,-0.021312,0.021318,0.020566,0.014079,0.005222,-0.000929,...,-0.042049,-0.014136,-0.001749,-0.043531,-0.001749,-0.020805,-0.014245,-0.009098,1.000000,NaN
type_villa,0.033496,0.045640,0.035872,-0.152334,0.014831,-0.044022,-0.030391,-0.012289,0.020314,0.012356,...,-0.049498,-0.016640,-0.002059,-0.051244,-0.002059,-0.024491,-0.016769,-0.010710,-0.048178,1.0

### Print all strong correlation (over 0.7 or under -0.7)

In [71]:
high_correlation = []

for i in range(len(corrMatrix)):
    for j in range(len(corrMatrix)):
        if abs(corrMatrix.iloc[i,j] > 0.7) and corrMatrix.iloc[i,j] != 1 and corrMatrix.iloc[i,j] not in high_correlation:
            high_correlation.append([corrMatrix.index[i], corrMatrix.columns[j], corrMatrix.iloc[i,j]])

high_correlation

/var/folders/00/d026dxr1001fd8rphxcfdzb40000gn/T/ipykernel_18327/3568800886.py:5: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if abs(corrMatrix.iloc[i,j] > 0.7) and corrMatrix.iloc[i,j] != 1 and corrMatrix.iloc[i,j] not in high_correlation:

[['ForestDensityM', 'ForestDensityL', 0.9114909095381499],
 ['ForestDensityS', 'ForestDensityL', 0.710585008742777],
 ['ForestDensityS', 'ForestDensityM', 0.8676090226762789],
 ['NoisePollutionRailwayM', 'NoisePollutionRailwayL', 0.8343790570503911],
 ['NoisePollutionRailwayS', 'NoisePollutionRailwayM', 0.7864027031797696],
 ['NoisePollutionRoadM', 'NoisePollutionRoadL', 0.9040623034427968],
 ['NoisePollutionRoadS', 'NoisePollutionRoadM', 0.8430971070480482],
 ['PopulationDensityM', 'PopulationDensityL', 0.9202544032244113],
 ['PopulationDensityS', 'PopulationDensityL', 0.72993618794267],
 ['PopulationDensityS', 'PopulationDensityM', 0.8658392151152488],
 ['RiversAndLakesM', 'RiversAndLakesL', 0.8335660032373315],
 ['WorkplaceDensityL', 'PopulationDensityL', 0.8014977199828],
 ['WorkplaceDensityL', 'PopulationDensityM', 0.716422074016624],
 ['WorkplaceDensityM', 'PopulationDensityL', 0.7289775256184324],
 ['WorkplaceDensityM', 'PopulationDensityM', 0.7267595628767942],
 ['WorkplaceDensityM', 'WorkplaceDensityL', 0.9172937518399222],
 ['WorkplaceDensityS', 'WorkplaceDensityL', 0.7427578371190027],
 ['WorkplaceDensityS', 'WorkplaceDensityM', 0.8960052083272559],
 ['Zip', 'Longitude', 0.9460298367288767],
 ['gde_pop_per_km2', 'gde_area_settlement_percentage', 0.8649664284073533],
 ['gde_private_apartments', 'gde_population', 0.9985761629757739],
 ['gde_workers_sector2', 'gde_population', 0.8197945465791054],
 ['gde_workers_sector2', 'gde_private_apartments', 0.8208401691223466],
 ['gde_workers_sector3', 'gde_population', 0.9663947601886869],
 ['gde_workers_sector3', 'gde_private_apartments', 0.9718937858664228],
 ['gde_workers_sector3', 'gde_workers_sector2', 0.8053082173346408],
 ['gde_workers_total', 'gde_population', 0.9691241616393017],
 ['gde_workers_total', 'gde_private_apartments', 0.9740840355761041],
 ['gde_workers_total', 'gde_workers_sector2', 0.8505637996041837],
 ['gde_workers_total', 'gde_workers_sector3', 0.9967212015892075]]

### For the Models: If two columns have a high correlation --> have the same effect on the output --> So we can drop one of them

In [72]:
model_df = numeric_df.copy()

columns_to_drop = ["ForestDensityS", "ForestDensityL",
                   "NoisePollutionRailwayS", "NoisePollutionRailwayL",
                   "NoisePollutionRoadS", "NoisePollutionRoadL",
                   "PopulationDensityS", "PopulationDensityL",
                   "RiversAndLakesL",
                   "WorkplaceDensityS", "WorkplaceDensityM", "WorkplaceDensityL",
                   "gde_private_apartments",
                   "gde_workers_sector2", "gde_workers_sector3",
                   "gde_workers_total",
                   "gde_area_settlement_percentage",
                   "Zip"]

model_df = model_df.drop(columns_to_drop, axis=1)
model_df

,ForestDensityM,Latitude,Longitude,NoisePollutionRailwayM,NoisePollutionRoadM,PopulationDensityM,RiversAndLakesM,RiversAndLakesS,distanceToTrainStation,gde_area_agriculture_percentage,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,0.286451,47.415927,8.085840,0.0,0.067048,0.209530,0.001811,0.011871,3.038467,30.676329,...,1,0,0,0,0,0,0,0,0,0
1,0.286451,47.415927,8.085840,0.0,0.067048,0.209530,0.001811,0.011871,3.038467,30.676329,...,0,0,0,0,0,0,0,0,1,0
2,0.095877,47.397416,8.043150,0.0,0.381257,0.393783,0.188229,0.000000,0.909587,11.354420,...,1,0,0,0,0,0,0,0,0,0
3,0.286451,47.415927,8.085840,0.0,0.067048,0.209530,0.001811,0.011871,3.038467,30.676329,...,0,0,0,0,0,0,0,0,0,0
4,0.279276,47.404870,8.052781,0.0,0.132933,0.136984,0.141473,0.091805,1.460245,33.137090,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13373,0.000000,47.341095,8.719508,0.0,0.248198,0.398929,0.000000,0.000000,1.032783,40.749825,...,0,0,0,0,0,0,0,0,0,0
13374,0.054523,47.387817,8.692746,0.0,0.376048,0.332250,0.016351,0.000000,2.107159,37.473233,...,0,0,0,1,0,0,0,0,0,0
13375,0.000000,47.545958,8.708230,0.0,0.258562,0.374555,0.000000,0.000000,1.007680,59.067358,...,0,0,0,0,0,0,0,0,1,0
13376,0.112081,47.433114,8.762768,0.0,0.269818,0.264024,0.000000,0.000000,2.848786,42.823529,...,0,0,0,0,0,0,0,0,0,0
13377,0.163193,47.486889,8.772853,0.0,0.063837,0.266676,0.000000,0.000000,0.458705,24.809160,...,0,0,0,0,0,0,0,0,0,0

### So now we have a numeric-df without strong correlations between each other --> for the models

### Let's make multiple df, with different methods of scaling, to see which of them perform best

#### Min Max Scaling (prone to outliers)

In [73]:
model_df_min_max = model_df.copy()

for col in model_df_min_max.columns:
    if col == "price":
        continue
    elif col.startswith("type_"):
        continue
    model_df_min_max[col] = (model_df_min_max[col] - model_df_min_max[col].min()) / (model_df_min_max[col].max() - model_df_min_max[col].min())

model_df_min_max.head()

,ForestDensityM,Latitude,Longitude,NoisePollutionRailwayM,NoisePollutionRoadM,PopulationDensityM,RiversAndLakesM,RiversAndLakesS,distanceToTrainStation,gde_area_agriculture_percentage,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,0.286608,0.808677,0.477811,0.0,0.095327,0.218913,0.003596,0.032255,0.114247,0.349452,...,1,0,0,0,0,0,0,0,0,0
1,0.286608,0.808677,0.477811,0.0,0.095327,0.218913,0.003596,0.032255,0.114247,0.349452,...,0,0,0,0,0,0,0,0,1,0
2,0.095930,0.799258,0.468164,0.0,0.542063,0.411418,0.373727,0.000000,0.033815,0.129345,...,1,0,0,0,0,0,0,0,0,0
3,0.286608,0.808677,0.477811,0.0,0.095327,0.218913,0.003596,0.032255,0.114247,0.349452,...,0,0,0,0,0,0,0,0,0,0
4,0.279429,0.803051,0.470341,0.0,0.189001,0.143119,0.280894,0.249448,0.054619,0.377484,...,0,0,0,0,0,0,0,0,0,0

#### Normalization (actually you change the distribution of your data)

In [74]:
model_df_norm = model_df.copy()

for col in model_df_norm.columns:
    if col == "price":
        continue
    elif col.startswith("type_"):
        continue
    model_df_norm[col] = (model_df_norm[col] - model_df_norm[col].mean()) / (model_df_norm[col].max() - model_df_norm[col].min())


model_df_norm.head()

,ForestDensityM,Latitude,Longitude,NoisePollutionRailwayM,NoisePollutionRoadM,PopulationDensityM,RiversAndLakesM,RiversAndLakesS,distanceToTrainStation,gde_area_agriculture_percentage,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,0.153933,0.344257,0.040907,-0.037157,-0.279696,-0.040741,-0.025666,0.019334,0.044746,-0.039176,...,1,0,0,0,0,0,0,0,0,0
1,0.153933,0.344257,0.040907,-0.037157,-0.279696,-0.040741,-0.025666,0.019334,0.044746,-0.039176,...,0,0,0,0,0,0,0,0,1,0
2,-0.036745,0.334839,0.031260,-0.037157,0.167040,0.151764,0.344464,-0.012922,-0.035686,-0.259283,...,1,0,0,0,0,0,0,0,0,0
3,0.153933,0.344257,0.040907,-0.037157,-0.279696,-0.040741,-0.025666,0.019334,0.044746,-0.039176,...,0,0,0,0,0,0,0,0,0,0
4,0.146755,0.338632,0.033436,-0.037157,-0.186021,-0.116536,0.251632,0.236526,-0.014882,-0.011144,...,0,0,0,0,0,0,0,0,0,0

#### Standardization (best method to use if the deature is normally distributed)

In [75]:
model_df_std = model_df.copy()

for col in model_df_std.columns:
    if col == "price":
        continue
    elif col.startswith("type_"):
        continue
    model_df_std[col] = (model_df_std[col] - model_df_std[col].mean()) / model_df_std[col].std()

model_df_std.head()

,ForestDensityM,Latitude,Longitude,NoisePollutionRailwayM,NoisePollutionRoadM,PopulationDensityM,RiversAndLakesM,RiversAndLakesS,distanceToTrainStation,gde_area_agriculture_percentage,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,0.888240,1.242636,0.190171,-0.371367,-1.604049,-0.234829,-0.278031,0.273363,0.498842,-0.178127,...,1,0,0,0,0,0,0,0,0,0
1,0.888240,1.242636,0.190171,-0.371367,-1.604049,-0.234829,-0.278031,0.273363,0.498842,-0.178127,...,0,0,0,0,0,0,0,0,1,0
2,-0.212026,1.208638,0.145324,-0.371367,0.957971,0.874749,3.731423,-0.182707,-0.397846,-1.178926,...,1,0,0,0,0,0,0,0,0,0
3,0.888240,1.242636,0.190171,-0.371367,-1.604049,-0.234829,-0.278031,0.273363,0.498842,-0.178127,...,0,0,0,0,0,0,0,0,0,0
4,0.846816,1.222329,0.155442,-0.371367,-1.066828,-0.671698,2.725811,3.344332,-0.165908,-0.050669,...,0,0,0,0,0,0,0,0,0,0

#### Robust Scaling (robust to outliers)

In [76]:
model_df_robust = model_df.copy()

for col in model_df_robust.columns:
    if col == "price":
        continue
    elif col.startswith("type_"):
        continue
    elif col == "RiversAndLakesS" or col == "rooms":
        # TO BE REVIEWED, generated inf values
        continue
    model_df_robust[col] = (model_df_robust[col] - model_df_robust[col].median()) / (model_df_robust[col].quantile(0.75) - model_df_robust[col].quantile(0.25))

model_df_robust.head()

,ForestDensityM,Latitude,Longitude,NoisePollutionRailwayM,NoisePollutionRoadM,PopulationDensityM,RiversAndLakesM,RiversAndLakesS,distanceToTrainStation,gde_area_agriculture_percentage,...,type_penthouse,type_rustico,type_secondary-suite,type_semi-detached-house,type_single-room,type_stepped-apartment,type_stepped-house,type_studio,type_terrace-house,type_villa
0,1.067960,0.686833,0.130463,0.0,-1.129839,0.010313,18.218171,0.011871,0.987703,-0.102607,...,1,0,0,0,0,0,0,0,0,0
1,1.067960,0.686833,0.130463,0.0,-1.129839,0.010313,18.218171,0.011871,0.987703,-0.102607,...,0,0,0,0,0,0,0,0,1,0
2,0.215740,0.668920,0.106747,0.0,0.715909,0.804150,1893.128856,0.000000,-0.071577,-0.709981,...,1,0,0,0,0,0,0,0,0,0
3,1.067960,0.686833,0.130463,0.0,-1.129839,0.010313,18.218171,0.011871,0.987703,-0.102607,...,0,0,0,0,0,0,0,0,0,0
4,1.035876,0.676133,0.112097,0.0,-0.742810,-0.302241,1422.882194,0.091805,0.202417,-0.025255,...,0,0,0,0,0,0,0,0,0,0

In [77]:
target_path = Path("./data/clean/immoscount_model.csv")
model_df_robust.to_csv(target_path, index=False)

<font color='red'>

#### Fragen die wir klären müssen:
- Müssen alle featuren gleich normalisiert werden? Oder können verschiedene Features, verschieden normalisiert werden?
- Dummy-Spalten ebenfalls normalisieren? (wurde hier jetzt nicht gemacht)
- Können wir Daten löschen, die "unmöglich" sind? (bsp: Wo "price" 1.- ist)

</font>